[Unit]
Description=Maia Users API Service
After=network.target

[Service]
User=rafal
Group=rafal

WorkingDirectory=/home/rafal/Documents/GITHUB_MOJE/KiKoDictionary/KIKOFastapiServer/users-microservice/

ExecStart=/home/rafal/Documents/GITHUB_MOJE/KiKoDictionary/KIKOFastapiServer/users-microservice/.venv/bin/uvicorn src.main:app --host 0.0.0.0 --port 8002

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
